<div class="modal fade" id="bookingDetailsModal" tabindex="-1" aria-labelledby="bookingDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingDetailsModalLabel">Booking Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Origin:</strong> <span id="bookingOrigin"></span></p>
                <p><strong>Destination:</strong> <span id="bookingDestination"></span></p>
                <p><strong>Date:</strong> <span id="bookingDateTime"></span></p>
                <p><strong>Seats Booked:</strong> <span id="bookingSeats"></span></p>
                <p><strong>Total Price:</strong> <span id="bookingTotalPrice"></span></p>
            </div>
        </div>
    </div>
</div>
