<div class="modal fade" id="deleteBookingModal" tabindex="-1" aria-labelledby="deleteBookingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteBookingModalLabel">Delete Booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel this booking?</p>
                <p><strong>Origin:</strong> <span id="deleteBookingOrigin"></span></p>
                <p><strong>Destination:</strong> <span id="deleteBookingDestination"></span></p>

                <form method="post" action="@Url.Action("Delete", "Booking")">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="deleteBookingId" name="bookingId" />
                    <button type="submit" class="btn btn-danger w-100">Cancel Booking</button>
                </form>
            </div>
        </div>
    </div>
</div>
