@model CarPoolingSystem.Presentation.Models.BookingViewModel

<div class="modal fade" id="bookRideModal" tabindex="-1" aria-labelledby="bookRideModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Book Your Ride</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("Create", "Booking")">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="rideId" name="RideId" />
                    <div class="mb-3">
                        <label>From:</label>
                        <input type="text" class="form-control" id="rideOrigin" readonly />
                    </div>
                    <div class="mb-3">
                        <label>To:</label>
                        <input type="text" class="form-control" id="rideDestination" readonly />
                    </div>
                    <div class="mb-3">
                        <label>Departure Time:</label>
                        <input type="text" class="form-control" id="rideDateTime" readonly />
                    </div>
                    <div class="mb-3">
                        <label>Available Seats:</label>
                        <input type="number" class="form-control" id="rideSeats" readonly />
                    </div>
                    <div class="mb-3">
                        <label>Select Seats:</label>
                        <input type="number" class="form-control" name="SeatsBooked" required min="1" />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Confirm Booking</button>
                </form>
            </div>
        </div>
    </div>
</div>
