@model IEnumerable<CarPoolingSystem.BusinessLogic.Models.RideDtos.RideDetailsDTO>
@{
    ViewBag.Title = "Search for Rides";
}


<div class="list-group">
    @foreach (var ride in Model)
    {
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Route</th>
                    <th>Departure Time</th>
                    <th>Seats</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ride.Origin → @ride.Destination</td>
                    <td>@ride.DateTime</td>
                    <td>@ride.SeatsAvailable</td>
                    <td><button class="btn btn-success">Book Now</button></td>
                </tr>
            </tbody>
        </table>
    }

</div>
